@import "tailwindcss";

@layer utilities {
  .shadow-purple-glow {
    box-shadow: 0 10px 40px -10px rgba(147, 51, 234, 0.5);
  }

  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}